@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;700&display=swap');

.container-page{
    
    width:100%;
    max-width: 1440px;
    margin: auto 
}

.container-header{
    width:100%;
    max-width: 969px;
    margin: auto;
}

.container-header>.header-title{
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
margin: 0;
width: 100%;
max-width: 100%;
}




.container-header>.header-encloser>p{
font-family: Montserrat;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #4F4F4F;
width: 60%;
    }

.container-header>.header-encloser{
    display: flex;
    margin-bottom:30px ;
    
}

.container-header>.header-encloser>.header-img-1{
    margin: 10px;
    padding-top: 10px;
    height: 10px;
    max-width: 100%;
}
.container-header>.header-img-2{
width: 100%;
height: auto;
border-radius: 12px;
max-width: 100%;
}


.container-sidebar{
    float: right;
    margin-top:48px;
    width: 216px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}

.sidebar-one{
    display: flex;
    width: 55%;
    margin: 50px auto;
}

.sidebar-two>div{

    width: 55%;
    margin: 50px auto;

}

.sidebar-two>div{
    display: flex;
}

.sidebar-one>img{
    height: 25.144638061523438px;
    width: 27.087646484375px;
    
}

.sidebar-two>div>img{
    height: 26.52313232421875px;
    width: 28.3333740234375px;
    
}

.sidebar-one>span{
    margin-left: 10px;

}

.sidebar-two>div>span{
    margin-left: 10px;
}

.sidebar-one>span>p{
    margin:0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.sidebar-one>span>h3{
    margin:0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F2994A;
}

.sidebar-two>div>span>p{
    margin:0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.sidebar-two>div>span>h3{
    margin:0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.container-body{
    width:100%;
    max-width: 735px;
}

.container-body>h2{
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #333333;

}

.container-body>ul{
 list-style-type: none;
 padding-left: 0;
}


li{display: flex;
    width: 80%;}

ol {
    padding: 0;
    counter-reset: orderedlist;
  }
  
.container-body>ol>li::before {
    counter-increment: orderedlist;
    content: counter(orderedlist);
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 0.5;
    width: 2rem;
    height: 1.5rem;
    padding-top: 0.25rem;
    text-align: center;
    color: #fff;
    background-color: orange;
    border-radius: 0.25em;
  }



.container-body>ul>li>p{
   
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #333333;
margin: 0 15px;
   }
   .container-body>ul>li{
     margin: 15px 0 ;
   }   

   .container-body>ol>li>p{
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    margin: 0 25px;
    width: 80%;
       }

       .container-body>ol>li{
           margin: 29px 0 ;
       }       
.bold{
    font-weight: bold;
}

.italic{
    font-style:italic ;
}

.rect{

     width: 19.5px;
     height: 28px;
     transform: scale(1.5); 
}

.container-body>h3{
font-family: Playfair Display;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #333333;
margin:40px 0;
}

.source{
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
}

footer{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin-top:100px;
    margin-bottom: 17px;
}

@media screen and (max-width:900px){


    .rect{
    
        width: 29.5px;
        height: 28px;
        transform: scale(1.5); 
   }

   .container-body>ul>li>p{
    width: 80%;
}
.container-body>ol>li{
    width: 80%;
}

    .container-header>.header-title{
        font-size: 30px;
    }
    .container-header{
       margin-right: 25px;
    }

    .container-body>ol>li{
        width: 100%;
    }

    .container-body>ul>li{
        width: 100%;
    }
    
    .container-sidebar{
          float: none;
          width: 100%;
          height: 40%;
          max-width: 100%;
          box-shadow: none;
          border-radius: none;
    }
    .sidebar-one{
        margin:0;
        padding:20px 0 0 10px;
    }
    .sidebar-two{
        display: flex;
        
    }

    .sidebar-two>div{
        width: 100%;
        max-width: 100%;
        margin:45px 15px;
    }
}